@model UpdateClubVM

<h1 class="h3">Update Club</h1>
<hr />

@if (ViewData["Errors"] != null)
{
    <div class="alert alert-danger">
        @foreach(var error in (List<string>) ViewData["Errors"])
        {
            <p>@error</p>
        }
    </div>
}
<form method="post" asp-action="UpdateClub" asp-controller="Admin" enctype="multipart/form-data">
    <div class="row">

        <div asp-validation-summary="All" class="text-danger">
        </div>

        <input type="hidden" asp-for="@Model.Id"/>

        <div class="col-md-8">
            <div class="mb-3 row">
                <label asp-for="@Model.Name" class="col-sm-2 col-form-label">Kulüp Adı</label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="@Model.Name" />
                </div>
            </div>

            <div class="mb-3 row">
                <label asp-for="@Model.Summary" class="col-sm-2 col-form-label">Kulüp Özeti</label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="4" asp-for="@Model.Summary"> </textarea>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Kulüp Resmi</label>
                <div class="col-sm-10">
                    <input type="hidden" asp-for="@Model.Url" />
                    <img src="@Model.Url" style="width:200px; height:200px; object-fit:cover"/>
                    <input type="file" name="file" class="btn btn-outline-primary"/>
                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-sm-10 offset-sm-2">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <h3>Categories</h3>
            <hr />

            @foreach (var category in (List<CategoryVm>)ViewBag.Categories)
            {
                <div class="custom-control custom-checkbox">

                    <input type="checkbox" class="form-check-input" id="category_@(category.Id)"
                           @* @(Model.Categories.Contains(category.Id)? "checked":"")*@
                           @if(Model.Categories !=null){
                            @(Model.Categories.Contains(category.Id) ? "checked" : "")
                           }
                           
                           name="Categories"
                           value="@category.Id">

                    <label class="form-check-label" for="category_@(category.Id)"> @category.Name </label>
                </div>
            }

            <hr class="mt-4" />
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="" asp-for="IsActive">

                <label class="form-check-label" asp-for="IsActive">Kulüp Aktif/Pasif</label>
            </div>
        </div>

    </div>
</form>